/* body{
    background-image: url("abuja.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
} */

header{
    background-color: rgb(10, 10, 75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(90, 90, 229);
}



h2{
    color: purple;
}

/* p{
    color: blue;
} */

#first_p{
    color: red;
    background-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
}


.second_p{
    color: chocolate;
    background-color: cornflowerblue;
}

.first_div{
    background-color: white;
    border: 2px solid blue;
    /* width: 30%; */
    width: 300px;
    height: 300px;
}

form{
    background-color: rgb(28, 5, 171);
    width: 300px;
    color: white;
    text-align: center;
    margin-top: 17px;
    padding-top: 10px;
}

button{
    margin-top: 8px;
    margin-bottom: 8px;
}


.parent_div{
    background-color: rgb(12, 12, 95);
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
}


.child1{
    background-color: green;
    width: 300px;
    height: 250px;
}

.child2{
    background-color: rgb(237, 233, 24);
    width: 300px;
    height: 250px;
}


.child3{
    background-color: rgb(243, 5, 160);
    width: 300px;
    height: 250px;

}













/* .parent_div{
    display: flex;
    gap: 5px ;
    justify-content: center;
    margin-top: 20px;
}



.div1{
    background-color: aqua;
    width: 300px;
    height: 200px;
    flex-basis: 200px;
    
}

.div2{
    background-color: rgb(4, 61, 2);
    width: 300px;
    height: 200px;
    flex-basis: 200px;
}


.div3{
    background-color: rgb(68, 99, 224);
    width: 300px;
    height: 200px;
    flex-basis: 200px;
} */