body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Header */
header{
    background-color: rgb(10, 10, 75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    
}

a{
    text-decoration: none;
    color: white;
    padding-left: 15px;
}

a:hover{
    color: rgb(90, 90, 229);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 40px;
}

header nav{
    margin-right: 15px;
}


/* Hero */
.div1 {
    background: rgb(228, 208, 248);
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.div1 h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.div1 p {
    font-size: 18px;
    margin-bottom: 30px;
}

.div_buttons button {
    margin: 10px;
}

/* Buttons */
.small_btn {
    background: whitesmoke;
    color: purple;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.big_btn {
    background: transparent;
    color: whitesmoke;
    padding: 12px 30px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.small_btn:hover {
    background: rgb(182, 213, 249);
}

/* Features */
.parent_section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    background: rgb(244, 242, 242);
}

.feature {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    background: white;
}

.feature h3 {
    margin-bottom: 10px;
    color: purple;
}

/* Categories */
.categories {
    padding: 60px;
    text-align: center;
}

.categories h2 {
    margin-bottom: 30px;
}

.category_div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.category_child {
    background: rgb(228, 208, 248);
    padding: 40px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    
}

.category_child:hover {
    background: #1e88e5;
    color: white;
}


.buy {
    background: rgb(228, 208, 248);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.buy h2 {
    margin-bottom: 10px;
}

.buy p {
    margin-bottom: 20px;
}


.footer {
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 20px;
}



@media screen and (max-width: 600px){
    body{
        margin: 5px;
        overflow-x: hidden;
        padding-left: 5px;
        padding-right: 5px;
        font-size: small;
    }

    .parent_section{
        flex-direction: column;
    }

    .category_div{
        flex-direction: column;
    }


}