header{
    background-color: rgb(10, 10, 75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(90, 90, 229);
}

/* .box{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(24, 24, 109);
    border-radius: 5px
    
}
img{
    border-radius: 5px;
}

.box p{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
} */

.parent_div{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

img{
    width: 300px;
    height: 400px;
    border-radius: 5px;
}
.parent_div div{
    flex-basis: 300px;
    border: 1px solid rgb(19, 19, 118);
    border-radius: 5px;
}
.parent_div div p{
    padding: 5px;
}