body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

header{
    background-color: rgb(10, 10, 75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(90, 90, 229);
}

.sale1{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 40px;
}

img{
    width: 300px;
    height: 370px;
    border-radius: 5px;
}

.sale1 div{
    flex-basis: 300px;
    border: 1px solid navy;
    border-radius: 5px;
}

.sale1 div:hover{
    border: 4px solid rgb(35, 10, 132);
    border-radius: 10px;
}

.sale1 div p{
    padding-left: 3px;
}

.price{
    font-size: larger;
    font-weight: bold;
    border: 2px solid rgb(35, 10, 132);
    border: none;
    border-radius: 5px;
    color: rgb(11, 181, 28);
    margin-left: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 5px;
    background-color: white;
}

.price:hover{
    border: 2px solid rgb(35, 10, 132);
}

.sale2{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 40px;
}

.sale2 div{
    flex-basis: 300px;
    border: 1px solid navy;
    border-radius: 5px;
}

.sale2 div:hover{
    border: 4px solid rgb(35, 10, 132);
    border-radius: 10px;
}

.sale2 div p{
    padding-left: 3px;
}

@media screen and (max-width: 600px){
    body{
        margin: 5px;
        overflow-x: hidden;
        padding-left: 5px;
        padding-right: 5px;
        font-size: small;
    }
    .sale1{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .sale1 div{
        
        width: 400px;
    }

    .sale2{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .sale2 div{
        
        width: 400px;
    }

    img{
    width: 100%;
    height: 470px;
    border-radius: 5px;
    }

}